<div class="job card">
  <div class="card-body">
    <div class="card-title">
      <h1><%= @job.title %></h1>
      <div class="card-subtitle">posted by: <%= @job.employer_name %></div>
    </div>
    <div class="card-text"><%= @job.description %></div>
    <% if  current_candidate && current_candidate.applied?(@job)%>
      <div class="">
        You already applied to this Job
      </div>
    <% end %>
  </div>
</div>

<% if  current_employer && current_employer.has_job?(@job)%>
  <%= link_to "Edit", edit_job_path(@job) %>
  <%= link_to "Delete", @job, method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>
<% if  current_candidate %>
  <%= link_to "Apply", apply_path(), { class: "btn #{current_candidate.applied?(@job) ? 'btn-secondary disabled' : 'btn-primary'}"} %>
<% end %>
<%= link_to 'Back', jobs_path() %>
