<div class="job">
  <div class="">
    <div class="d-flex align-items-center">
      <h1><%= @job.title %></h1>
      <div class="font-italic small">posted by: <%= @job.employer_name %></div>
    </div>
    <p><%= @job.description %></p>
  </div>

<% if  current_candidate && current_candidate.applied?(@job)%>
  <div class="">
    You already applied to this Job
  </div>
<% end %>
</div>


<% if  current_employer && current_employer.has_job?(@job)%>
  <%= link_to "Edit", edit_job_path(@job) %>
  <%= link_to "Delete", @job, method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>
<% if  current_candidate %>
  <%= link_to "Apply", apply_path(), { class: "btn #{current_candidate.applied?(@job) ? 'btn-secondary disabled' : 'btn-primary'}"} %>
<% end %>
<%= link_to 'Back', jobs_path() %>
