<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- flash.each do |name, msg| -%>
      <% if msg.is_a?(String) %>
        <% if name == 'alert' %>
          <div class="alert alert-danger mb-0"><%= msg  %></div>
        <% else %>
          <div class="alert alert-success mb-o"><%= msg  %></div>
        <% end %>
      <% end %>
      <% if current_employer || current_candidate %>
        <%= render "shared/menu" %>
      <% end %>
    <%- end %>
    <%= yield %>
  </body>
</html>
